* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: beige;
  font-family: curvy;
}
.footer {
  background-color: #3abef9;
  display: flex;
  flex-direction: row;
  color: antiquewhite;
  padding: 20px;
}
.footer-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-me {
  margin: 10px 5px;
}
.footer-icons{
  width: 80px;
  border: none;
  margin-top: 2em;
  border-radius: 25px;
  padding-right: 10px;
}
.phone img,
.email img {
  width: 30px;
  border: none;
  margin-top: 2em;
  border-radius: 25px;
  padding-right: 10px;
}
.footer-icons,
.phone,
.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.footer .mufasa{
  margin: 20px;
  max-width: 100%;
  object-fit: cover;
  border: 2px solid #3f49295f;
}
#phone, #email{
  padding-left: 10px;
  padding-top: 36px;
}
.footer a{
margin: 0px 3px;
}
.footer-icons:hover {
  transform: scale(1.1);
}
