* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: beige;
  font-family: curvy;
}
.main {
  display: flex;
  flex-flow: column wrap;
}
.project-image {
  background-color: rgb(168, 123, 47);
  width: 60px;
}
